body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/* 393px보다 화면이 작은 경우 */
@media screen and (max-width: 393px) {
  body {
    width: 100%; /* 화면 너비에 맞춤 */
  }
}

/* 393px보다 화면이 큰 경우 */
@media screen and (min-width: 394px) {
  body {
    width: 393px; /* 화면 너비를 393px로 고정 */
    margin: 0 auto; /* 화면 중앙에 위치 */
  }
}

:root {
  --gray--0: #F4F4F4;
  --gray--1: #EDEDED;
  --gray--2: #E3E3E3;
  --gray--3: #9B9B9B;
  --gray--4: #575757;
  --black: #000000;
  --main: #89CEFA;
  --sky--blue: #E3ECF2;
  --kakao: #FFDD00;
}
